.app {
  display: flex;

  .left {
    flex: 1;
    height: 100vh;

    box-shadow: 0.5px 5px 5px rgba(128, 128, 128, 0.382);
  }

  .right {
    margin-left: 40px;
    margin-right: 40px;
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
