.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  backdrop-filter: blur(2px);
}

.content-doc {
  background-color: white;
  z-index: 2;
  width: 600px;
  height: 500px;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.wrapper {
  margin: 10px 10px;
  display: flex;
  flex-direction: column;

  .header-popup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      font-size: 24px;
      font-weight: bold;
      text-decoration: underline;
    }
    img {
      cursor: pointer;
      width: 40px;
      height: 40px;
    }
  }

  .input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    //for the input element
    input {
      border-radius: 5px;
      border: none;
      padding: 7px;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
      outline: none;
    }

    button {
      cursor: pointer;
      align-self: flex-end;
      width: 100px;
      padding: 7px;
      border: none;
      border-radius: 5px;
      background-color: #4cc9cf;
      font-weight: bold;
      color: white;
    }
  }

  .container {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 150px;
    background-color: #fbfbfd;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 5px;
  }

  .cancel-btn,
  .send-btn,
  .remove-btn {
    cursor: pointer;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    padding: 7px;
    font-weight: bold;
    width: 100px;
    align-self: flex-end;
  }

  .send-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    .send-btn {
      background-color: #4cc9cf;
    }

    .cancle-btn {
      background-color: white;
      color: red;
      box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }
  }

  .disabled
  {
    cursor: not-allowed;
  }

  .error {
    color: red;
    font-size: 20px;
  }
}
