.top-editDoc {
  display: flex;

  margin-top: 10px;
  // box-shadow: 0.3px 2px 3px 5px rgba(128, 128, 128, 0.188);
  gap: 10px;
  width: 100%;
  height: 34px;
  a {
    color: black;
  }

  .back-btn {
    flex: 1;
    display: flex;
    align-items: center;
    img {
      width: 30px;
      height: 30px;
      margin-left: 20px;
    }
  }
  .headerEditDoc {
    flex: 2;
    display: flex;
    margin: 0px 20px 0px 20px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    .header-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 10px 20px;
      border-radius: 5px;
      background-color: #f2f3f5;
    }
    img {
      width: 24px;
      height: 24px;
    }
  }
}
.invisible{
  display: none;
}
