.docControlHeader {
  width: calc(100% - 364px);
  display: flex;
  margin-left: 230px;
  gap: 90px;
}

.docControlWrapper {
  display: flex;
}

.documentTitle {
  width: calc(100% - 15px);
  display: flex;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  height: 60px;
  box-shadow: 0.3px 2px 3px 5px rgba(134, 133, 133, 0.188);
  // width: 100%;

  p {
    margin: 0;
  }

  .docuementLatestVersion {
    background-color: #4cc9cf;
    border-radius: 15px;
    color: white;
    //padding: 5px 40px 5px 30px;
    text-align: center;
    width: 100px;
    padding: 5px 20px;
    margin-left: 12px;
    margin-right: 45rem;
    white-space: nowrap;
  }

  a.otherDocument:hover {
    background-color: #eeeeee;
  }
  span.otherDocument {
    color: gray;
    text-decoration: line-through;
  }
  .otherDocument {
    padding: 5px 20px;
    min-width: 150px;
    border-radius: 3px;
    color: #4cc9cf;
    font-size: large;
    margin-left: 70px;
  }
  a.expanded {
    box-shadow: inset 0px 0px 5px gray;
  }
  .dropdownicon {
    width: 90px;
    height: 60px;
    margin-left: 10px;
  }
}

.docControlList {
  display: grid;
  grid-template-columns: 1fr;
  height: calc(100% - 162px);
  width: 100%;

  .table {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .documentTitle {
      display: grid;
    }

    .table-row {
      background-color: #ffffff;
      padding: 20px;
      box-shadow: 0.3px 2px 3px 5px rgba(134, 133, 133, 0.188);
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      align-items: center;
      justify-content: space-between;

      .item-id {
        color: #333;
        margin-right: 100px;
        font-weight: bold;
        gap: 20px;

        .wrap-item-id {
          width: 90px;
        }

        .editicon {
          width: 20px;
          height: 18px;
        }

        .transediticon {
          margin-left: 8px;
          height: 18px;
          opacity: 0;
          user-drag: none;
          -webkit-user-drag: none;
          user-select: none;
          -moz-user-select: none;
          -webkit-user-select: none;
          -ms-user-select: none;
        }

        .lockicon {
          width: 20px;
          height: 18px;
        }

        &.bold-id {
          font-weight: bold;
        }
      }

      .item-name {
        color: #555;
      }

      .item_modified {
        color: #555;
      }

      .issued_date {
        color: #555;
      }

      .additional_info {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .status {
          display: grid;
          justify-content: center;
          margin-right: 125px;
        }

        .pro-bar {
          width: 100px;
          height: 10px;
          border-radius: 5px;
          padding: 1px;
          background-color: #ccc;

          .progress {
            border-radius: 5px;
            background-color: #0afc88;
            height: 100%;
          }
        }
      }

      .partiesicon {
        height: 24px;
        width: 24px;
      }

      .transpartiesicon {
        width: 24px;
        height: 24px;
      }

      .reviewicon {
        height: 24px;
        width: 24px;
      }

      .send-icon {
        height: 26px;
        width: 26px;
        object-fit: cover;
      }

      .sendicon {
        width: 24px;
        height: 24px;
      }
      .transsendicon {
        height: 24px;
        width: 24px;
        object-fit: cover;
      }
    }
  }
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.item-id {
  display: flex;
  align-items: center;
  justify-content: center;
}
.invisible {
  display: none;
}
