.dropdown {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 600px;
  overflow: auto;

  .dropdown-content {
    display: flex;
    flex-direction: column;
    top: 60px;
    margin-left: 20px;
    padding: 20px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 500;
    color: #333;
    width: 175px;
    border-radius: 10px 10px 10px 10px;
  }
}

.dropdown-container {
  position: relative;
  margin-left: 20px;
  display: flex;
  gap: 10px; //   background-color: aquamarine;
  margin-top: 10px;

  .dropdown-btn {
    padding: 15px 20px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: bold;
    color: #333;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    border-radius: 10px 10px 10px 10px;

    .dropdown-icon {
      padding-left: 8px;
    }
  }

  .drop {
    display: flex;
    flex-direction: column;
    .dropdown-item {
      padding: 10px;
      cursor: pointer;
      transition: all 0.2s;
    }
  }
  .add {
    font-weight: bold;
    border-radius: 10px 10px 10px 10px;
    width: 110px;
    border: solid white;
    background-color: #00dd73;
    color: white;
  }

  .remove {
    font-weight: bold;
    border-radius: 10px 10px 10px 10px;
    width: 110px;
    border: solid white;
    background-color: #d72822;
    color: white;
  }
}
